<launch>
  <arg name="x" default=".171" />
  <arg name="y" default="-2.249" />
  <arg name="z" default="0.0" />
  <arg name="yaw" default="0.0" />

  <arg name="initial_pose_x" value=".171"/>
  <arg name="initial_pose_y" value="-2.249"/>
  <arg name="initial_pose_z" value="0.0"/>
  <arg name="initial_pose_a" value="0.0"/>

  <arg name="map_file" default="$(find fetch_maps)/maps/aims-ada.yaml" />
  <arg name="map_keepout_file" default="$(find fetch_maps)/maps/aims_keepout.yaml" />
  <arg name="use_keepout" default="false" />
  <arg name="launch_map_server" default="true" />
  <arg name="use_map_topic"  default="false" />

  <!-- Drive around -->
  <node name="demo" pkg="fetch_study" type="demo_path.py" output="screen" />

</launch>