<launch>
  <arg name="x" default=".171" />
  <arg name="y" default="-2.249" />
  <arg name="z" default="0.0" />
  <arg name="yaw" default="0.0" />

  <arg name="initial_pose_x" value=".171"/>
  <arg name="initial_pose_y" value="-2.249"/>
  <arg name="initial_pose_z" value="0.0"/>
  <arg name="initial_pose_a" value="0.0"/>

  <arg name="map_file" default="$(find fetch_study)/maps/aims-ada.yaml" />
  <arg name="map_keepout_file" default="$(find fetch_study)/maps/aims_keepout.yaml" />
  <arg name="use_keepout" default="false" />
  <arg name="launch_map_server" default="true" />
  <arg name="use_map_topic"  default="false" />

  <group if="$(arg launch_map_server)">
    <!-- serve up a map -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!-- serve up a map with keepout zones -->
    <group if="$(arg use_keepout)" >
    <node name="map_keepout_server" pkg="map_server" type="map_server" args="$(arg map_keepout_file)" >
      <remap from="map" to="map_keepout" />
      <remap from="static_map" to="static_map_keepout" />
    </node>
    </group>
  </group>

  <!-- Drive around -->
  <node name="demo" pkg="fetch_study" type="demo_path.py" output="screen" />

</launch>