<launch>

  <include file="$(find fetch_study)/launch/fetch_nav.launch" >
  <!--   <include file="$(find fetch_study)/launch/simple_nav_timed.launch" > -->
    <arg name="map_file" value="$(find fetch_study)/maps/fetchredemo.yaml" />
  </include>

 <arg name="addpose_topic" default="/initialpose"/>
 <arg name="posearray_topic" default="/waypoints"/>


  <node name="sync_check" pkg="fetch_study" type="sync_check.py" output="screen" clear_params="true">
    <param name="goal_frame_id" value="map"/>
    <param name="addpose_topic" value="$(arg addpose_topic)"/>
    <param name="posearray_topic" value="$(arg posearray_topic)"/>
  </node>

</launch>